.contain1 {
  background-color: rgba(0, 255, 153, 0.74);
  min-height: 50vh;

}

h1,
h2,
p {
  text-align: center;

}

h1 {
  padding-top: 2rem;
}

h3 {
  text-decoration: underline;
}

.content {
  text-align: left;
}

.contain2 {
  background-color: rgba(38, 0, 255, 0.74);
  min-height: 50vh;
  color: whitesmoke;
}